body {
    background: #28282B;
    color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* use 100% of the viewport */
    margin: 0;
    padding: 1.5rem; /*leave a little space around browser window */
    display: flex; /* highly useful for vertical layouts*/
    flex-direction: column; /* sthis way we can stack elements vertically */
    align-items: center;
    gap: 1rem;
}

#mainCanvas {
    width: 100%;
    max-width: 1000px;
}

#previewCanvas {
    position: absolute; 
    border: 1px solid #ffffff;
}

#effectSelect {
    width: 100%;
    max-width: 800px;
    padding: 6px; 
    padding-left: 10px;
    padding-right: 10px;
    border: 2px dashed #800080;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

.videoElem {
    background: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: flex; 
    justify-content: space-between; /* position X elem farther right */
    align-items: center;
    font-size: 18px;
    border: 1px solid #800080;
}

#playlist {
    width: 100%;
    max-width: 800px; 
    margin: 0px;
    padding: 10px;
}

#dropZone {
    width: 100%;
    max-width: 800px;
    padding: 16px; 
    padding-left: 10px;
    padding-right: 10px;
    border: 2px dashed #800080;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    background-color: #000000;
}

#fileInput, .hidden {
    display: none;
}
